* {
    box-sizing: border-box;
    font-family: Helvetica;
    color: #424748;
  }
  
  body {
    margin: 0;
    /* height: 100vh; */
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
      "nav"
      "main"
  }

  body > nav {
    grid-area: nav;
    background-color: #B8C0C2;
    display: flex;
    align-items: center;
    padding: 0 20px 0 30px;
  }

  body > main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E8ECEB;
    padding: 20px;
    overflow-y: scroll;
  }

  h1, h2 {
    margin: 0 auto;
    padding-top: 20px;
  }

  table {
    /* display: grid;
    grid-gap: 10px;
    grid-template-columns: auto; */
    font-size: 20px;
    margin-top: 25px;
    justify-content: center;
  }
  
  table thead th {
    border-bottom: 2px solid #424748;
    text-align: center;
    font-size: 25px;
  }
  
  table td {
    padding: 10px;
    text-align: center;
  }
  
  #show-page {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2rem;
    justify-content: center;
    padding-top: 30px;
  }
  
  #new-project,
  #add-project-form {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 1rem;
    margin-bottom: 2rem;
    justify-content: center;
    padding-top: 50px;
    justify-items: center;
  }

  textarea {
    width: 350px;
    height: 100px;
    
  }

  #add-project-form input[type="submit"]  {
  width: 10rem;
  grid-column: 1 / 2;
}

  .nav-link-logout {
    color: red;
  }

  .nav-link-loggin {
    color: rgb(24, 131, 24);
  }

  #list a {
    border-radius: 4px;
    background-color: #B8C0C2;
    padding: 4px;
    text-decoration: none;
    font-size: 14px;
  }
  
  #list a:hover {
    background-color: white;
  }


  #new-project {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, minmax(auto, 10rem));
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    margin-top: 20px;
  }

  #new-project input[type="submit"] {
    grid-column: span 2;
    width: 6rem;
    height: 2rem;
    margin-left: auto;
  }