<%- include("../partials/header")  %> 
    <h1>Add Project</h1>
    <form id="new-project" action="/projects" method="POST">
        <label>Title:</label>
        <input type="text" name="title">
        <label>Posting:</label>
        <select name="posting">
          <option value="Seeking Help">Seeking Help</option>
          <option value="Sharing">Sharing</option>
        </select>
        <label>Description:</label>
        <input type="text" name="description">
        <input type="submit" value="Add Project">
      </form>
<%- include("../partials/footer")  %> 